@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  src: url('ZCOOLQingKeHuangYou.ttf');
}

@font-face {
  font-family: 'ZCOOL Xiao Wei';
  src: url('ZCOOLXiaoWei.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro.ttf');
}

@font-face {
  font-family: 'Luckiest Guy';
  src: url('LuckiestGuy.ttf')
}
